# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env

# Logs
*.log
